<a href="https://colab.research.google.com/github/Ishasolanki441/isha-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 for i in range(1,20,3):
  print(i)

1
4
7
10
13
16
19

In [5]:
for i in range (17,180,17):
  print(i)

17
34
51
68
85
102
119
136
153
170

In [11]:
n=0
while n<10:
  print(n)
  n+=1

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(50):
  print(i)
  if i==49:
    break
    print('element')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [22]:
for i in range(1,10):

  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8
9

In [30]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
sum=(a+b+c)
print(sum)

enter the value2
enter the value4
enter the value6
12

In [31]:
a=input("enter value")
b=input("enter value")
c=bool(a+b)
print(c)

enter value32
enter value45
True