<a href="https://colab.research.google.com/github/Ishasolanki441/isha-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
set={"isha","solanki"}
print(set)

{'isha', 'solanki'}

In [59]:
set={"singh","solanki"}
print(type(set))

TypeError: 'type' object is not iterable

In [25]:
set={"dhuruv","payal"}
set.add("sobu")
print(set)

{'dhuruv', 'payal', 'sobu'}

In [28]:
set={"dhuruv","payal"}
set.remove("dhuruv")
print(set)

{'payal'}

In [30]:
set={"dhuruv","payal"}
set1={"aanchal"}
set.update(set1)
print(set)

{'aanchal', 'dhuruv', 'payal'}

In [35]:
set={"dhuruv","payal"}
set.discard("jayveer")
print(set)

{'dhuruv', 'payal'}

In [44]:
set = {"amit", "isha", "raghav"}
set1 = set.pop()
print(set1)
print(set)

{'isha', 'raghav'}

In [60]:
set={"orange","kiwi","mango"}
del set
print(set)

TypeError: 'type' object is not iterable

In [53]:
set = {"apple", "banana", "cherry"}
set.clear()
print(set)

set()

In [61]:
set={"isha","preeti"}
set1={"priya"}
set.intersection_update(set1)
print(set)

set()